@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--main-color:#ff0000;
	--text-color:#ffffff;
	--bg-color-01:#0f1011;
	--bg-color-header:#0000007c;
	--bg-color-03:#181818;
	--bg-color-02:#38393b;
	--color-00:#0000001a;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
}

html{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

body{
	background-color: var(--bg-color-01);
	color: var(--text-color);
}

/* === Header === */

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.1rem;
	background-color: var(--bg-color-header);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo{
	padding-left: 1rem;
	font-size: 1.7rem;
	color: var(--text-color);
	font-weight: 600;
	cursor: pointer;
}

.logo:hover{
	transform: scale(1.1);
}

.logo span{
	text-shadow: 0 0 25px var(--main-color);

}

.nav-responsive{
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 50%;
	padding: 1rem 1rem 0.7rem 1rem;
	background-color: var(--bg-color-01);
	border-bottom-left-radius: 5%;
	border-left: solid 3px var(--main-color);
	border-bottom: solid 3px var(--main-color);
}

.nav-responsive a{
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-color);
	margin-left: 1rem;
	transition: 0.3s;
}

.nav{
	position: relative;
	right: 3rem;
}

.nav a{
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-color);
	margin-left: 1rem;
	transition: 0.3s;
}

.nav a.active{
	color: var(--main-color);
	border-bottom: solid 3px var(--main-color);
}

.nav-responsive a.active{
	color: var(--main-color);
	border-bottom: solid 3px var(--main-color);
}

.nav a:hover, .nav-responsive a:hover{
	color: var(--main-color);
	border-bottom: solid 3px var(--main-color);
}

section{
	min-height: 100vh;
	padding: 6rem 6rem 2rem;
}

span{
	color: var(--main-color);
}

/* === /Header === */

/* === Menu mobile ==== */

.menu-mobile{
	display: none;
	cursor: pointer;
}

.bar1, .bar2, .bar3{
	width: 2rem;
	height: 0.3rem;
	background-color: var(--text-color);
	margin: 0.4rem 0;
	transition: 0.3s ease;
	border-radius: 0.1em;
}

.change .bar1{
	transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2{
	opacity: 0;
}


.change .bar3{
	transform: translate(0, -0.65rem) rotate(45deg);
}

/* === /Menu mobile ==== */


/* === Menssage==== */


.menssage{
    margin: 9%;
    margin-left: 12%;
    width: 70%;
    height: 40vh;
    background-color: var(--bg-color-02);
    border: solid 3px var(--main-color);
    border-radius: 0.7rem;
    box-shadow: 0 0 20px var(--main-color);
    transition: 0.3s ease-in-out;
}

.menssage h3{
    font-size: 34px;
    font-weight: 800;
    padding-top: 6%;
    padding-left: 7%;
}


.menssage-1 a{
    color: var(--text-color);
}


.menssage p{
    padding-left: 7%;
    padding-top: 1%;
}

.menssage:hover{
	transform: scale(1.05);
	box-shadow: 0 0 35px var(--main-color);
}

/* === /Menssage==== */

/* === Footer === */

.social-midias-footer{
	padding: 0 1.3rem 1.4rem 0;
}

.social-midias-footer a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	background: transparent;
	border: solid 2.2px var(--main-color);
	border-radius: 50%;
	font-size: 1.2rem;
	color: var(--main-color);
	transition: 0.5 ease;
	margin-right: 0.4rem;

}

.social-midias-footer  a:hover{
	background-color: var(--main-color);
	color: var(--bg-color-02);
	transform: scale(1.3) translateY(-5px);
	box-shadow: 0 0 25px var(--main-color);
}

.nav-footer{
	padding: 0 1.5rem 2.2rem 0;
}

.nav-footer a{
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-color);
	margin-left: 1.2rem;
	transition: 0.3s;
}

.nav-footer a:hover{
	color: var(--main-color);
	border-bottom: solid 3px var(--main-color);
}

footer{
	font-size: 0.7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2.3rem;
	background-color: black;
}

/* === /Footer === */

/* === Media queries ==== */

/* Extra Small Smartphone */
@media (min-width: 0px){
	.menssage {
		position: relative;
		margin-top: 12%;
		right: 16%;
		width: 110%;
		height: 30vh;
	  }

	.menssage h3{
		font-size: 30px;
		padding-top: 9%;
	}

	.menu-mobile{
		display: block;
	}

	.nav{
		display: none;
	}

	.nav-responsive a{
		display: block;
		font-size: 1rem;
		margin: 0.9rem 0.3rem;
	}
}
/* /Extra Small Smartphone */

/* Small Smartphone */
@media (min-width: 576px){
	.menssage {
		margin: 12% 0 0 16%;
		width: 100%;
		height: 30vh;
	  }

	.menssage h3{
		font-size: 30px;
		padding-top: 9%;
	}
	
}
/* /Small Smartphone */

/* Medium Tablet */
@media (min-width: 768px) and (max-width: 722px){
	.menssage{
		width: 100%;
		margin: 12% 0 0 16%;
		height: 30vh;
	}

}
/* /Medium Tablet */

/* Large Laptop */
@media (min-width: 992px){
	.menssage{
		width: 70%;
		margin: 12% 0 0 29%;
		height: 30vh;
	}

	.menu-mobile{
		display: none;
	}

	.nav{
		display: block;
	}
	.nav-responsive, .nav-responsive a{
		display: none
	}
}
/* /Large Laptop */


/* Extra Large Desktop */
@media (min-width: 1200px){
	.menssage{
		margin: 9%;
		margin: 8% 0 0 29%;
		width: 70%;
		height: 40vh;
	}
}
/* /Extra Large Desktop */

/* === /Media queries ==== */
